*{
    margin: 0;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}

/* background: linear-gradient(135deg, #8ddac7, #7363dc); night time card */
/* background: linear-gradient(135deg, #faf261ff, #e5d3bf); Day time*/

body{
    background: #584b78;
}

.card{
    width: 90%;
    max-width: 25rem;
    /* max-width: 480px; */
    /* background: linear-gradient(135deg, rgb(186, 220, 208), #6d645c); */
    background: #f9f4f4;
    color: #fff;
    margin: 30% auto 0;
    border-radius: 0px;
    padding: 40px 35px;
    text-align: center;
    /* box-shadow: 0px 9px 30px rgba(70, 62, 2, 0.658); */
    box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.5);
    /* box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset; */
}

.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.search input{
    border: 0;
    outline: 0;
    background: #f3ebff;
    color: #555555;
    padding: 10px 25px;
    height: 40px;
    border-radius: 10px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    /* text-decoration: underline;
    text-decoration-color:#e73449;
    text-decoration-thickness:1.5px ; */
}

.search button{
    border: 0;
    outline: 0;
    background: #f3ebff;
    border-radius: 30%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    
}

.search button img{
    width: 2rem;
    border-radius: 30%;
}


.weather-icon{
width: 200px;
margin:2rem 0 2rem;
}

.weather h1{
    margin-top: 1.5rem;
    font-size: 28px;
    font-weight:900;
    color: #000;
    font-family:Georgia, 'Times New Roman', Times, serif
}

.weather h2{
    font-size: 32px;
    font-weight: 400;
    margin-top: -10px;
    color: #000;
}

.weather h3{
    font-size: medium;
    color:#222;
}

.details{
    display: flex;
    align-items: center;
    justify-content:space-around;
    padding: 0 20px;
    margin-top: 50px;
}

.col{
    display: flex;
    align-items: center;
    text-align: left;
}

.col h4{
    color:#bbb7c1;
    margin-top: 2px;
}

.col img{
    width: 2rem;
    margin-right: 10px;
    opacity: 70%;
}

.humidity, .wind, .feelsLike{
    font-size: 20px;
    opacity: 100%;
    text-shadow: salmon;
    color:#000;
}

.feelsLike{
    font-size: 14px;
margin-bottom: 1rem;
    color: #5e5d5d;
}

.lineBreak{
    width: 24px;
}

.weatherStatus{
    color:#584b78;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.25em;
    text-decoration:dashed;
    text-decoration-color:#eadcd7;
    text-decoration-line:underline overline;
}

.weather{
    display: none;
}

.error{
    text-align: left;
    color: #b24545;
        margin-top: 10px;
        margin-left: 10px;
        font-size: 14px;
        display: none;
    }

    #time, #quote{
        color: #625d64;
        text-align: left;
        padding: 1rem;
        margin-top: -2rem;
        margin-left: -1rem;
        font-size: 1em;
        font-weight: bolder;
        /* display: none; */
    }

    #quote{
        display: none;

    }

    .video
        {
            position: absolute;
            top: 100%;
            right: 0%;
            display: none;
        }


        /* https://www.flaticon.com/packs/weather-324 */
